@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    align-items: center;
}
header{
    height: 25px;
}
.logo{
    margin-top: -5vh;
    margin-left: 3vh;
    height:100px;
}
.cadastro{
    margin-top: 7vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.cadastro > h1{
    margin-left: -30vh;
}
.formCadastro{
    text-align:center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

input{
    border-radius: 18px;
    width: 306px;
    height: 38px;
    border: 1px solid #a1a1a3;
    background-color: #f5f5f5;
    color: #393C41;
}
.formCadastro > p{
    font-size: 15px;
    margin-left: -30vh;
    color: #393C41;
    text-justify: newspaper;

}
.cadastrar{
    width: 310px;
    height: 42px;
    background-color: #3D69e1;
    color: #fff;
    border: 0px;
    border-radius: 18px;
}
.cancel{
    border-radius: 18px;
    width: 310px;
    height: 42px;
    border: 1px solid #a1a1a3;
    background-color: #f5f5f5;
    color: #393C41;
}
.or{
    color: #393C41;
    text-justify: newspaper;
}
.sign{
    border-radius: 18px;
    width: 310px;
    height: 42px;
    border: 3px solid #000;
    background-color: #f5f5f5;
    color: #393C41;
}
.sign:hover{
    background-color: #000;
    color: #fff;
}